<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.developerbyweekend.bunker">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_notes"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/ELLAppTheme">
        <activity
            android:name=".main.SplashScreen"
            android:noHistory="false"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ELLAppTheme" />

        <activity
            android:name=".study.AssessmentActivity"
            android:label="@string/title_activity_assessment"
            android:theme="@style/ELLAppTheme.NoActionBarWithTitle" />
        <activity
            android:name=".study.ResultActivity"
            android:label="@string/title_result"
            android:screenOrientation="portrait" />
        <activity
            android:name=".accounts.ProfileActivity"
            android:label="@string/title_profile" />

        <receiver android:name=".receivers.NotificationReceiver" />

        <activity
            android:name=".accounts.RegistrationActivity"
            android:label="@string/strSignup"
            android:theme="@style/ELLAppTheme"
            android:noHistory="true" />
        <activity
            android:name=".accounts.LoginActivity"
            android:label="@string/strLogin"
            android:noHistory="true"
            android:theme="@style/ELLAppTheme"/>
        z
    </application>

</manifest>